/* framework for the project */
.container{
    width: 100%;
    margin: 0 auto;
}
.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
}
.columns, .column-half{
    flex: 0 0 auto;
    width: 100%;
    padding: 0 20px;
}

.d-none{
    display: none;
}

/* responsive design */
@media screen and (min-width: 576px) {
    .container{
        width: 540px;
    }
    .row{
        gap: 32px;
    }
    .columns{
        width: 47%;
        padding: 0 10px;
    }
    .column-half{
        width: 100%;
        padding: 0 10px;
    }
}
@media screen and (min-width: 768px) {
    .container{
        width: 720px;
    }
    .row{
        gap: 43px;
    }
    .columns{
        width: 47%;
        padding: 0 10px;
    }
    .column-half{
        width: 100%;
        padding: 0 10px;
    }
}
@media screen and (min-width: 992px) {
    .container{
        width: 960px;
    }
    .row{
        gap: 43px;
    }
    .columns{
        width: 30.33333%;
        padding: 0 10px;
    }
    .column-half{
        width: 100%;
        padding: 0 10px;
    }
}
@media screen and (min-width: 1200px) {
    .container{
        width: 1140px;
    }
    .row{
        gap: 45px;
    }
    .columns{
        width: 22%;
        padding: 0 10px;
    }
    .column-half{
        width: 45%;
    }
}
@media screen and (min-width: 1400px) {
    .container{
        width: 1320px;
    }
    .row{
        gap: 52px;
    }
    .columns{
        width: 22%;
        padding: 0 10px;
    }
    .column-half{
        width: 47%;
    }
}